<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/home" class="nav-logo">
      <span style="margin-right: 6px;">🕹️</span>SalaJuegos
    </a>
    
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active" class="nav-item">
        Home
      </a>
      
      @if (usuarioLogueado()) {
        <a routerLink="/resultados" routerLinkActive="active" class="nav-item">
          <span style="margin-right: 4px;"></span>Resultados
        </a>

        <a routerLink="/chat" routerLinkActive="active" class="nav-item">
          <span style="margin-right: 4px;"></span>Chat Global
        </a>
      }

      <a routerLink="/quien-soy" routerLinkActive="active" class="nav-item">
        <span style="margin-right: 4px;">🙋🏿</span>Quien Soy
      </a>
      
      @if (!usuarioLogueado()) {
        <a routerLink="/login" routerLinkActive="active" class="nav-item">Login</a>
        <a routerLink="/registro" routerLinkActive="active" class="nav-item link-highlight">Registro</a>
      }
    </div>
  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>